{% extends "base.html" %}
{% block title_block %} Home {% endblock title_block %}
{% block content %}
<h1><a href="{% url "home" %}" class="text-dark text-decoration-none">Stock Market data</a></h1>
<hr>

<form action="{% url "home" %}" method="GET" class="w-25 m-0">
    {% csrf_token %}
    <select class="form-select" name="trade_code">
        <option selected>Open This Select Trade Code</option>
        {% for unique_trade  in unique_trade_codes  %}
        <option value="{{unique_trade}}">{{unique_trade}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Select" class="btn btn-sm btn-success mt-2">
</form>

{{chart | safe}}



<table class="table">
    <thead>
        <tr>

            <th scope="col">Date</th>
            <th scope="col">Trade Code</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
        {% for data in stock_data %}
        <tr>

            <td>{{data.date}}</td>
            <td>{{data.trade_code}}</td>
            <td>{{data.high}}</td>
            <td>{{data.low}}</td>
            <td>{{data.open}}</td>
            <td>{{data.close}}</td>
            <td>{{data.volume}}</td>
            <td><a href="{% url "editStock" data.pk %}" class="btn btn-warning btn-sm mx-2">Update</a> <a
                    href="{% url "deleteStock" data.pk %}" class="btn btn-danger btn-sm ">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}